<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQQypn9qZW-Pgo_NCilKEW4KuE7gSUSk8</string>
	<key>GCM_SENDER_ID</key>
	<string>881477916914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeApp</string>
	<key>PROJECT_ID</key>
	<string>gihoc-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>gihoc-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881477916914:ios:218f795701f9232b30586b</string>
</dict>
</plist>